/* #region Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background: #ffffff;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hiden {
  display: none;
}
button {
  cursor: pointer;
}
/* #endregion Reset */
/* #region common */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* #endregion common */
/* #region Header */
.page-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navi-list,
.address-head {
  display: none;
}
.logo-header {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-link {
  padding: 16px 0;
  display: block;
}

span.logo {
  color: #2e2f42;
}
.mob-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.mob-btn-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .mob-btn {
    display: none;
  }
  .navi-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .address-head {
    display: block;
    font-style: normal;
    align-items: center;
  }
  .navi {
    display: flex;
    align-items: center;
  }
  .logo-link {
    padding: 24px 0;
    margin-right: 120px;
  }
  .navi-link {
    display: block;
    padding: 24px 0;
    /* color: #404bbf; */
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navi-link-studio {
    color: #404bbf;
  }
  .navi-link:hover,
  .navi-link:focus {
    display: block;
    color: #404bbf;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .navi-link-focus::after {
    display: block;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    position: absolute;
    bottom: -1px;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    display: block;
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo-link {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .address-link {
    color: #434455;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* #endregion Header */
/* #region Mod menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-bnt-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid #0000001a;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  background: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-bnt-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.mobile-navi {
  margin-bottom: auto;
}
.mobile-navi-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-navi-link {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-navi-link-studio {
  color: #404bbf;
}
.mobile-navi-link-studio {
}
.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-address-link:hover,
.mobile-address-link:focus {
  color: #404bbf;
}
.mobile-sec-three-li-text-two {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion Mod menu */
/* #region Section1 */

.firstsec {
  background: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/mob-dark-bg@1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  padding: 72px 0 72px;
}
@media screen and (max-width: 767px) and (min-resolution: 2x) {
  .firstsec {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/mob-dark-bg@2.jpg);
  }
}
.firstsec-h-one {
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 216px;
  padding: 0;
  margin: 0 auto;
}
.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 4px;
  opacity: 0px;

  display: block;
  margin: 48px auto 0;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .firstsec {
    padding: 112px 0 112px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/tab-dark-bg@1.jpg);
  }
  @media screen and (min-width: 768px) and (min-resolution: 2x) {
    .firstsec {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet/tab-dark-bg@2.jpg);
    }
  }
  .firstsec-h-one {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .firstsec {
    padding: 188px 0 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/comp/comp-people-office@1.jpg);
  }
  @media screen and (min-width: 1158px) and (min-resolution: 2x) {
    .firstsec {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/comp/comp-people-office@2.jpg);
    }
  }
}
/* #endregion Section1 */
/* #region Section2 */
.sec-two {
  display: flex;
  padding: 96px 0 96px;
  justify-content: center;
  align-items: center;
}

.div-text {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.sec-two-icon {
  display: none;
}
.div-list-sec-two {
  max-width: 288px;
}
.sec-two-h-three {
  display: block;
  text-align: center;

  color: #2e2f42;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.section-two-p {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .sec-two-h-three {
    text-align: left;
  }
  .div-text {
    row-gap: 72px;
    column-gap: 24px;
  }
  .div-list-sec-two {
    max-width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .sec-two-h-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .section-two-p {
    font-weight: 500;
  }

  .sec-two-two {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
  .sec-two-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div-list-sec-two {
    max-width: calc((100% - 72px) / 4);
  }
}
/* #endregion Section2 */
/* #region Section3 */
.sec-three {
  display: flex;
  background-color: #f4f4fd;
  padding: 96px 0 96px;
}
.icon-svg {
  fill: #f4f4fd;
}
.sec-three-h-two {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.sec-three-li-text-two {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.sec-three-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.sec-three-li-text-two-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sec-three-h-three {
  display: block;
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}

.section-three-p {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.sec-three-li {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

@media screen and (min-width: 768px) {
  .sec-three-ul {
    row-gap: 64px;
  }
}
@media screen and (min-width: 1158px) {
  .sec-three {
    padding: 120px 0 120px;
  }
  .sec-three-li-text-two-list:hover,
  .sec-three-li-text-two-list:focus {
    background: #404bbf;
  }
}
/* #endregion Section3 */
/* #region Section4 */
.sec-four {
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
}
.fourimg {
  display: block;
  max-width: 100%;
}
.sec-four-h-two {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.overlays {
  display: none;
}
.div-four-ul {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}
.sec-four-list-one {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.sec-four-h-plus-p {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.sec-four-h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .div-four-ul {
    column-gap: 24px;
    row-gap: 72px;
  }
  .sec-four-list-one {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .sec-four {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .div-four-ul {
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
  }
  .portfolio-block {
    position: relative;
    overflow: hidden;
  }
  .sec-four-list-one {
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
  }
  .sec-four-list-one:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .sec-four-list-one:hover .overlays {
    opacity: 1;
    transform: translateY(0);
  }
  .overlays {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #f4f4fd;
    background-color: #4d5ae5;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .sec-four-p {
    display: flex;
  }
}
/* #endregion Section4 */
/* #region Footer */
.footer {
  background: #2e2f42;
  padding-bottom: 96px;
  padding-top: 96px;
}
.sec-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-item-one {
  display: flex;
  flex-direction: column;
  width: 288px;
}
.logo-footer {
  display: inline-block;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: #2e2f42;
  margin: 0 auto 16px;
}
span.logo-footer {
  color: #f4f4fd;
  background: #2e2f42;
  margin: 0;
}
.footer-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4fd;
  background: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.footer-item-two {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 208px;
}
.footer-p-two {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0 auto 16px;
}
.footer-items {
  margin-bottom: 72px;
}
.footer .sec-three-li-text-two {
  gap: 16px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.footer-form-tytle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.footer-form-email {
  border: 1px solid #fff;
  border-radius: 4px;
  min-width: 288px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #2e2f42;
  background-color: transparent;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); */
  padding-left: 16px;
  outline: none;
}
.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  background-color: #4d5ae5;
}
.footer-btn-icon {
  margin-left: 16px;
  fill: #fff;
}
@media screen and (min-width: 768px) {
  .sec-footer {
    flex-direction: row;
    max-width: 736px;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: left;
    padding-left: 108px;
  }
  .footer-item-one {
    width: 264px;
  }
  .footer-items {
    margin: 0;
  }
  .logo-footer {
    margin-left: 0;
  }
  .footer-p-two {
    margin-left: 0;
  }
  .footer-form-input {
    flex-direction: row;
  }
  .footer-form-email {
    width: 264px;
  }
  .footer-form {
    margin: 0;
  }
  .footer-item-two {
    margin: 0;
  }
  .footer-form-tytle {
    margin: 0 auto 16px 0;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    padding-bottom: 132px;
    padding-top: 100px;
  }
  .sec-footer {
    max-width: 1128px;
    padding: 0;
    gap: 0;
  }
  .footer-form {
    justify-content: right;
  }
  .footer-p {
    margin: 0;
  }
  .footer-item-one {
    margin-right: 120px;
  }
  .footer-item-two {
    margin-right: 80px;
  }
  .footer .sec-three-li-text-two-list {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer .sec-three-li-text-two-list:hover,
  .footer .sec-three-li-text-two-list:focus {
    background: #31d0aa;
  }
  .footer-form-email {
    min-width: 264px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
  .footer-form-btn:hover,
  .footer-form-btn:active {
    background-color: #31d0aa;
  }
  input.footer-form-email:hover,
  input.footer-form-email:focus {
    border: 1px solid #31d0aa;

    color: #ffffff;
  }
}
/* #endregion Footer */
/* #region Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2e2f4266;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  padding-top: 72px;
  padding-bottom: 33px;
  padding-left: 16px;
  padding-right: 16px;
  width: 288px;
  height: 623px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  background-color: #fcfcfc;
}
.modal-bnt-close {
  position: absolute;
  line-height: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid #0000001a;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  background: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-bnt-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.modal-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-field {
  margin-bottom: 8px;
}
.form-field-comm {
  margin-bottom: 16px;
}
.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.form-field-input {
  position: relative;
}
.form-input {
  background-color: transparent;
  border-radius: 4px;
  width: 256px;
  height: 40px;
  padding-left: 34px;
  outline: transparent;
  border: 1px solid #2e2f4266;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #2e2f4266;
}
.form-field-comment {
  background-color: #fcfcfc;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  width: 256px;
  height: 120px;
  padding-left: 16px;
  outline: transparent;
  border: 1px solid #2e2f4266;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #2e2f4266;
}
.form-check-text {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-check-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: Auto;
  text-decoration-thickness: Auto;
  color: #4d5ae5;
}
.form-check-checkit {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #2e2f4266;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
  flex-shrink: 0;
  /* margin-top: 16px; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-check-input:checked + .form-check-text .form-check-checkit {
  background-color: #404bbf;
  border: transparent;
  fill: #f4f4fd;
}
.modal-btn-send {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  margin: 24px auto 0;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    height: 584px;
  }
  .form-input {
    width: 360px;
  }
  .form-field-comment {
    width: 360px;
  }
  .modal {
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .modal-bnt-close:hover,
  .modal-bnt-close:focus {
    background: #404bbf;
    border: none;
  }
  .modal-bnt-close:hover .modal-bnt-close-icon,
  .modal-bnt-close:focus .modal-bnt-close-icon {
    fill: #ffffff;
  }
  .form-input:hover,
  .form-input:focus {
    border-color: #4d5ae5;
  }
  .form-input:focus + .form-input-icon {
    fill: #4d5ae5;
  }
  .form-field-comment:hover,
  .form-field-comment:focus {
    border-color: #4d5ae5;
  }
  .modal-btn-send:hover,
  .modal-btn-send:focus {
    background-color: #404bbf;
  }
}
/* #endregion Modal */
